<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Forgot Password</h3>
            <p>Enter the email thatyou use to sign up your account</p>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="email" name="email" type="email" placeholder="Enter Email"></ion-input>
            </ion-item>
            <div style="color: red; padding-top: 0.2rem"
              *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].errors.required">
              Email is required</div>
            <div style="color: red; padding-top: 0.2rem"
              *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].hasError('email')">
              Email is not valid</div>
            <!-- <ion-item>
              <ion-input formControlName="password" name="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
            <div style="color: red; padding-top: 0.2rem"
              *ngIf="login.controls['password'].invalid && login.controls['password'].touched && login.controls['password'].errors.required">
              password is required</div>
            <div style="color: red; padding-top: 0.2rem"
              *ngIf="login.controls['password'].invalid && login.controls['password'].hasError('pattern')">
              Password should be contains at least 1 lowercase, 1 uppercase alphabet, 1 numeric character & at least one
              special character</div>
            <div padding>
              <a [routerLink]="['/user/forgot-password']">Forgot Password</a>
            </div> -->
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="forgotPasswordForm.invalid" expand="block">Send</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <!-- <div padding>
        Don't have an account? <a [routerLink]="['/user/registration']">Sign Up</a>
      </div> -->
    </ion-grid>
  </form>
</ion-content>