
  .example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
  }

  .example-modal .modal {
    background: transparent !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: initial !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 1px solid #FFF !important;
  }

 label.required:after {
    content: "*";
    color: red;
    vertical-align: top;
    font-size: 14px;
}