
  .example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
  }

  .example-modal .modal {
    background: transparent !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: initial !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 1px solid #FFF !important;
  }

 label.required:after {
    content: "*";
    color: red;
    vertical-align: top;
    font-size: 14px;
}

.c-btn {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
}

.selected-list .c-list .c-token {
  background: #0079fe;
}

.selected-list .c-list .c-token .c-label {
  color: #fff;
}

.list-area {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 1px 5px #959595;
}

.pure-checkbox input[type=checkbox]+label:before {
  color: #0079fe;
  border: 1px solid #0079fe;
}

.selected-list .c-btn{
  font-size: 14px;
}

.swal2-actions button{
  line-height: inherit;
}

.ui-calendar .ui-datepicker{
  background: #FFF;
}

body .ui-datepicker table td > a.ui-state-active, body .ui-datepicker table td > span.ui-state-active {
  color: #ffffff;
  background-color: #007ad9;
}
body .ui-datepicker table td.ui-datepicker-today > a, body .ui-datepicker table td.ui-datepicker-today > span {
  background-color: #d0d0d0;
  color: #333333;
}

body .ui-datepicker table td.ui-datepicker-weekheader, body .ui-datepicker table td.ui-datepicker-weeknumber {
  border-right: 1px solid #a6a6a6;
}