<div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            All the fields marked with asterisk sign(*) are mandatory to be filled.
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"> {{courseId ? 'Update Course' : 'Add Course'}}</h3>
                    </div>
                    <form [formGroup]="courseForm" class="form-horizontal">
                        <div class="box-body">
    
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label" requiredLabel>Name</label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="name" class="form-control" id="Name"
                                        placeholder="Name">
                                    <div
                                        *ngIf="courseForm.controls['name'].invalid && (courseForm.controls['name'].touched || courseForm.controls['name'].dirty)">
                                        <span class="text-danger" *ngIf="courseForm.controls['name'].errors.required">Name is
                                            required</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label" requiredLabel>Phone</label>
                                <div class="col-sm-6">
                                    <input type="number" formControlName="phone" class="form-control" id="phone"
                                        placeholder="phone">
                                    <div
                                        *ngIf="courseForm.controls['phone'].invalid && (courseForm.controls['phone'].touched || courseForm.controls['phone'].dirty)">
                                        <span class="text-danger" *ngIf="courseForm.controls['phone'].errors.required">Phone
                                            is
                                            required</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label" requiredLabel>Email</label>
                                <div class="col-sm-6">
                                    <input type="email" formControlName="email" class="form-control" id="email"
                                        placeholder="Email" validateEmail>
                                    <div
                                        *ngIf="courseForm.controls['email'].invalid && (courseForm.controls['email'].touched || courseForm.controls['email'].dirty)">
                                        <span class="text-danger" *ngIf="courseForm.controls['email'].errors.required">Email
                                            is
                                            required</span>
                                        <span class="text-danger"
                                            *ngIf="courseForm.controls['email'].hasError('validateEmail')">Email is not
                                            valid</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label" requiredLabel>Password</label>
                                <div class="col-sm-6">
                                    <input type="password" formControlName="password" class="form-control" id="password"
                                        placeholder="Password">
                                    <div
                                        *ngIf="courseForm.controls['password'].errors && (courseForm.controls['password']?.touched || courseForm.controls['password']?.dirty)">
                                        <span class="text-danger" *ngIf="courseForm.controls['password'].errors?.required">
                                            Password is
                                            required</span>
                                        <span class="text-danger"
                                            *ngIf="courseForm.controls['password']?.hasError('pattern')">
                                            Password should be contains at least 1
                                            lowercase, 1
                                            uppercase alphabet, 1 numeric character & at least one
                                            special character</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="confirmPassword" class="col-sm-2 control-label" requiredLabel>Confirm Password</label>
                                <div class="col-sm-6">
                                    <input type="password" formControlName="confirmPassword" class="form-control"
                                        id="Confirm" placeholder="Confirm password">
                                    <div
                                        *ngIf="courseForm.controls['confirmPassword'].errors && (courseForm.controls['confirmPassword']?.touched || courseForm.controls['confirmPassword']?.dirty)">
                                        <span class="text-danger"
                                            *ngIf="courseForm.controls['confirmPassword'].errors?.required">Confirm
                                            password is required</span>
                                        <span class="text-danger"
                                            *ngIf="courseForm.controls['confirmPassword'].errors?.mustMatch">Password
                                            doesn't match</span>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-default pull-right"
                                routerLink="/admin/courses">Cancel</button>
                            <button type="submit" class="btn btn-info pull-right"
                                (click)="addCourse()" [disabled]="courseForm.invalid">{{courseId ? 'Update' : 'Add'}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>