<header class="main-header">
  <!-- Logo -->
  <a href="javascript:;" routerLink="/admin/dashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>INN8GOLF</b>ADMIN</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>INN8GOLF </b>ADMIN</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <div class="nav-top-custom">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="col-md-12">
        <div class="navbar-custom-menu">
          <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 text-right">
              <span class="user-name">Alexander Pierce<span class="mobile-user">AP</span></span>
              <a href="javascript:;" routerLink="/" class="sign-btn">Sign out<span><i class="fa fa-sign-out"
                    aria-hidden="true"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>