<div class="pad margin no-print">
    <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-info"></i> Note:</h4>
        All the fields marked with asterisk sign(*) are mandatory to be filled.
    </div>
</div>
<section class="content-header">
    <h1>
        Device Management
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form #deviceForm="ngForm" id="deviceForm" novalidate class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="">
                                <label class="col-sm-2 control-label">Select Device<span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="deviceListFromEvexia"
                                        [(ngModel)]="device.macAddress">
                                        <ng-container *ngFor="let device of deviceListFromEvexia">
                                            <option [value]="device.macAddress">{{device.macAddress}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label for="deviceName" class="col-sm-2 control-label">Device Alias Name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="deviceName" id="deviceName"
                                        placeholder="Device Name" #deviceName="ngModel" [pattern]="whiteSpacePattern"
                                        (focusout)="checkDeviceAlreadyExists()" [(ngModel)]="device.deviceName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label class="col-sm-2 control-label">Select Building<span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="building" [(ngModel)]="device.buildingId"
                                        (change)="getZonesByBuildingId();">
                                        <ng-container *ngFor="let building of buildingList">
                                            <option [value]="building.buildingId">{{building.buildingName}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label class="col-sm-2 control-label">Select Zone<span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="zone" [(ngModel)]="device.zoneId">
                                        <ng-container *ngFor="let zone of zoneList">
                                            <option [value]="zone.zoneId">{{zone.zoneName}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label class="col-sm-2 control-label">From Date<span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" required name="deviceAssociatedWithZoneFrom"
                                        id="deviceAssociatedWithZoneFrom" #deviceAssociatedWithZoneFrom="ngModel"
                                        [(ngModel)]="device.deviceAssociatedWithZoneFrom">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button"
                            [disabled]="deviceForm.invalid || device.zoneId < 1 || device.deviceMac == ''"
                            (click)="save();" class="btn btn-primary">Submit</button>
                        <button (click)="onReset()" class="btn btn-info">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Device</h3>
                </div>
                <div class="box-body table-responsive">

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table table-bordered table-striped table-level">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Device Name</th>
                                <th>MAC Address</th>
                                <th>Zone Name</th>
                                <th>Level Name</th>
                                <th>Tenant Name</th>
                                <th>Building Name</th>
                                <th>Associated with Zone From</th>
                                <th>Associated with Zone Till</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let device of deviceList; let i=index ">
                                <td>{{i+1}}</td>
                                <td>{{device.deviceName}}</td>
                                <td>{{device.macAddress}}</td>
                                <td>{{device.zoneName}}</td>
                                <td>{{device.levelName}}</td>
                                <td>{{device.tenantName}}</td>
                                <td>{{device.buildingName}}</td>
                                <td>{{device.deviceAssociatedWithZoneFrom | date:'dd/MM/yyyy'}} </td>
                                <td>{{device.deviceAssociatedWithZoneTo | date:'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr *ngIf="deviceList?.length < 1">
                                <td colspan="9">No record found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>