<div class="login-box">
    <div class="login-logo">
        <b>INN8GOLF </b>ADMIN
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form [formGroup]="login">
            <div class="form-group has-feedback">
                <input formControlName="email" type="email" class="form-control" placeholder="Email" validateEmail>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div
                    *ngIf="login.controls['email'].invalid && (login.controls['email'].touched || login.controls['email'].dirty)">
                    <span class="text-danger" *ngIf="login.controls['email'].errors.required">Email
                        is
                        required</span>
                    <span class="text-danger" *ngIf="login.controls['email'].hasError('validateEmail')">Email is not
                        valid</span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div
                    *ngIf="login.controls['password'].errors && (login.controls['password']?.touched || login.controls['password']?.dirty)">
                    <span class="text-danger" *ngIf="login.controls['password'].errors?.required">
                        Password is
                        required</span>
                    <span class="text-danger" *ngIf="login.controls['password']?.hasError('pattern')">
                        Password should be contains at least 1
                        lowercase, 1
                        uppercase alphabet, 1 numeric character & at least one
                        special character</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <button type="button" [disabled]="login.invalid" (click)="submit()"
                        class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>